.page--material__background {
    background: linear-gradient(180deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%) !important;
    font-family: 'Noto Sans JP', sans-serif !important;
}

.page-container {
    margin: auto 15px;
}