.world-map-page-container .world-map-container {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.world-map-page-container .world-map-background {
    width: auto;
    height: 100%;
}

.world-map-page-container .page--material__content {
    display: flex;
    flex-direction: column;
}

.world-map-page-container .page--material__content>div {
    flex: 1;
    display: flex;
}